// Elements
@use './elements/button.scss';
@use './elements/card.scss';
@use './elements/skeleton.scss';
@use './elements/tooltip.scss';

// Overwrites
@use './overwrites/fades.scss';
@use './overwrites/toastification.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Reset
html {
  background-color: colors.$color-background-light;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: colors.$color-text-regular;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  line-height: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: colors.$color-text-title;
}

// Generic classes
.no-content {
  color: colors.$color-text-placeholder;
}
