// Elements
@use './elements/button';
@use './elements/card';
@use './elements/skeleton';
@use './elements/tooltip';

// Overwrites
@use './overwrites/fades';
@use './overwrites/toastification';

// Variables
@use './variables/colors' as *;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Reset
html {
  background-color: $color-background-light;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: $color-text-regular;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  line-height: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: $color-text-title;
}

// Generic classes
.no-content {
  color: $color-text-placeholder;
}
