@use '../variables/colors.scss' as colors;

.cx-button {
  cursor: pointer;
  font-size: 0.83em;
  border-radius: 6px;
  padding: 4px 6px;
  transition: .2s ease-out;
  color: colors.$color-text-placeholder;
  border: 1px solid colors.$color-text-placeholder;

  &:hover {
    background-color: colors.$color-info;
    border: 1px solid colors.$color-info;
    color: colors.$color-white;
  }
}
