@use 'sass:color';
@use '../variables/colors.scss' as *;

.skeleton-loading {
  background-image: linear-gradient(100deg, color.mix($color-gray, $color-white, 45%) 0px, $color-background-light 100px, color.mix($color-gray, $color-white, 45%) 200px);
  background-size: 600px;
  animation: skeleton-shine 1.4s infinite linear
}

@keyframes skeleton-shine {
  0% { background-position: -100px }
  100% { background-position: 500px }
}
