@use '../variables/colors.scss' as colors;

.Vue-Toastification__toast {
  opacity: .9 !important;
  border-radius: 6px !important;
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.05) !important;
  &--success { background-color: colors.$color-success !important; }
  &--info { background-color: colors.$color-info !important; }
  &--warning { background-color: colors.$color-warning !important; }
  &--error { background-color: colors.$color-danger !important; }
}
