$--color-white: #FFF !default;
$--color-black: #000 !default;
$--color-gray: #B0BEC5 !default;
$--color-background-light: #F0F3F5 !default;
$--color-background-dark: #37474F !default;

$--color-text-title: #84959C !default;
$--color-text-footer: #84959C !default;
$--color-text-placeholder: #B0BEC5 !default;
$--color-text-regular: #37474F !default;

$--color-success: #2ECD70 !default;
$--color-warning: #E67C22 !default;
$--color-info: #228CFF !default;
$--color-danger: #EA4335 !default;