@import '@/styles/variables/colors.scss';

.cx-button {
  cursor: pointer;
  font-size: 0.83em;
  border-radius: 6px;
  padding: 4px 6px;
  transition: .2s ease-out;
  color: $--color-text-placeholder;
  border: 1px solid $--color-text-placeholder;

  &:hover {
    background-color: $--color-info;
    border: 1px solid $--color-info;
    color: $--color-white;
  }
}
